.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
}

.main-layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  min-height: 100vh;
}

.main-layout__page {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

