.relationship-types-page {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.relationship-types-page__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1;
}

.relationship-helper-text {
    color: var(--color-on-secondary);
}

.theme-dark .relationship-helper-text {
    color: #ffffff !important;
}